footer {
    background-color: #e4dadf;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 100px;
}

footer .vert {
    padding-right: 200px;
}

footer h4 {
    font-size: 20px;
    font-weight: 700;
}

footer p {
    font-size: 18px;
}

footer strong {
    font-weight: 700;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #2e0016;
    transition: 0.3s ease;
}

footer .vert ul {
    line-height: 8px;
}

footer .horiz ul {
    display: flex;
    justify-content: space-around;
}