
/* NAVBAR CSS SETTINGS, IMPORT IN EVERY PAGE */

.logo {
    width: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #ffd1e7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #2e0016;
    transition: 0.3s ease;
}

.barInic {
    height: 3px;
    margin-top: 5px;
    width: 50px;
    background-color: #f74d9f;
    opacity: 0;
    transition: 0.3s;
}

.barComp {
    height: 3px;
    margin-top: 5px;
    width: 80px;
    background-color: #f74d9f;
    opacity: 0;
    transition: 0.3s;
}

.barCont {
    height: 3px;
    margin-top: 5px;
    width: 73px;
    background-color: #f74d9f;
    opacity: 0;
    transition: 0.3s;
}

#navbar li a:hover {
    color: #f74d9f
}

#navbar li a:hover .barInic{
    opacity: 1;
}

#navbar li a:hover .barComp{
    opacity: 1;
}

#navbar li a:hover .barCont{
    opacity: 1;
}